*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --bg-color: whitesmoke;
 --text-color: black;
 --border-color: gray;
 --circle-color: green;
}

.switch-theme-wrapper {
 min-height: 100vh;
 width: 100%;

 background-color: var(--bg-color);
 border: 1rem solid var(--border-color);

 display: flex;
 justify-content: center;
 align-items: center;
}

input[type="checkbox"] {
 position: absolute;
 opacity: 0;
 width: 0;
 height: 0;
}

.theme-toggle-btn {
 background-color: wheat;
 width: 450px;
 height: 200px;
 padding: 15px;
 border-radius: 100px;
 cursor: pointer;
 position: relative;
}

.theme-toggle-btn .circle {
 display: block;

 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 left: 15px;
 border-radius: 50%;
 background-color: white;
 height: 175px;
 width: 180px;
 transition: left 0.3s ease-in-out;
}

:root:has(.theme-toggle:checked) {
 --bg-color: black;
}

.theme-toggle:checked ~ .switch-theme-wrapper .circle {
 left: 255px;
 background-color: gray;
}
