@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --body-bg-color: ;
 --font-family: "Montserrat", sans-serif;
}

body {
 min-height: 100vh;
 font-family: var(--font-family);
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e9ecef;
}

li {
 list-style: none;
}

a {
 text-decoration: none;
 color: black;
}

main {
 display: grid;
 grid-auto-columns: 300px;
 grid-auto-rows: 300px;
 gap: 1.3em;
 grid-template-areas:
  "box-1 box-1 box-3 box-3"
  "box-1 box-1 box-2 box-4"
  "box-5 quote box-6 box-6"
  "hobbies hobbies hobbies music";
 margin: 10rem 0;
}

.box {
 background-color: gray;
 padding: 1em;
 border-radius: 15px;
}

.hero-card {
 display: flex;

 position: relative;
 overflow: visible;
 background: #dcab6b;
}

.hero-card .img-container {
 position: relative;
 width: 1300px;
}

.img-container img {
 position: absolute;
 max-width: 400px;
 bottom: -2.4%;
 right: -17%;
 z-index: 1;

 transition: opacity 0.3s ease-in-out;
 filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.2));
}

.img-smile {
 animation: phaseOne 8s infinite;
}
.img-thumb {
 animation: phaseTwo 8s infinite;
}
.img-peace {
 animation: phaseThree 8s infinite;
}

@keyframes phaseOne {
 0%,
 28% {
  opacity: 1;
 }
 33%,
 95% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

@keyframes phaseTwo {
 0%,
 28% {
  opacity: 0;
 }
 33%,
 61% {
  opacity: 1;
 }
 66%,
 100% {
  opacity: 0;
 }
}

@keyframes phaseThree {
 0%,
 61% {
  opacity: 0;
 }
 66%,
 95% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

.img-cry {
 opacity: 0;
}

.img-container:hover :is(.img-smile, .img-thumb, .img-peace) {
 display: none;
}
.img-container:hover .img-cry {
 opacity: 1;
}

.hero-info-side {
 display: flex;
 flex-direction: column;
 gap: 1em;
}

.hero-info-side h2 {
 color: #d9ed92;
}

.hero-info-side .circle {
 display: inline-block;
 width: 23px;
 height: 23px;
 border-radius: 50%;
 background-color: #d9ed92;
}

.hero-info-side h1 {
 flex-grow: 1;
 font-size: 6rem;
}

.featured-project-card {
 display: grid;
 grid-template-rows: auto auto 1fr auto auto;
 gap: 0.5em;

 background-color: #9ba2ff;
}

.featured-project-card h1 {
 font-size: 2.5rem;
}

.moveon-preview {
 background-image: url(img/webp/move-on-preview2.webp);
 background-position: center;
 background-size: cover;
 border-radius: 13px;
}

.featured-project-card a {
 text-align: right;
}

.tech-stack-card {
 position: relative;
 background-color: aliceblue;
}

.tech-stack-card h2 {
 margin-bottom: 0.5em;
}

.tech-stack-card ul {
 line-height: 1.6em;
}

.tech-stack-card img {
 position: absolute;
}

.html-logo {
 left: 10%;
 bottom: 15%;
 width: 45px;
 transform: rotate(10deg);
}
.css-logo {
 width: 55px;
 left: 28%;
 bottom: 20%;
 transform: rotate(-10deg);
}
.js-logo {
 width: 55px;
 left: 48%;
 bottom: 10%;
 transform: rotate(15deg);
}
.php-logo {
 width: 85px;
 left: 48%;
 top: 40%;
 transform: rotate(-15deg);
}
.mysql-logo {
 width: 65px;
 right: 10%;
}
.git-logo {
 width: 55px;
 bottom: 8%;
 right: 8%;
}
.github-logo {
 width: 40px;
 right: 8%;
 top: 35%;
}

.github-stats-card {
 display: grid;
 grid-template-rows: auto auto 1fr auto;
 gap: 0.5em;
 overflow: auto;
 background: #34a0a4;
}

.stats-container {
 display: grid;
 grid-template-columns: repeat(5, 45px);
 grid-template-rows: repeat(2, 45px);
 grid-auto-rows: 45px;
 gap: 10px;
}

.stats-container span {
 display: block;
}

.stats-box {
 background-color: white;
 border-radius: 10px;
}

.stats-box.a {
 background-color: #9ef01a;
}

.stats-box.a-half {
 background-color: #9ef01aab;
}

.social-links-card {
 display: grid;
 grid-template-rows: auto 1fr auto;
 position: relative;
 overflow: hidden;

 background: #e0aaff;
}

.social-links-card h2 {
 margin-bottom: 0.5em;
}

.social-links-card ul {
 line-height: 2.2em;
 font-size: 1.4rem;
 font-weight: 500;
}

.social-links-card i {
 font-size: 2.3rem;
 vertical-align: middle;
}

.social-links-card .link-logo {
 position: absolute;
 right: -30px;
 bottom: -30px;
}

.quote {
 padding: 0;
 overflow: hidden;
}

.quote img {
 width: 100%;
 height: 100%;
}

.currently-card {
 display: grid;
 grid-template-rows: 1fr auto;
 background: #dbb42c;
}
.currently-card ul {
 font-size: 2.4rem;
 text-align: right;
 line-height: 1.4em;
 letter-spacing: 0.4em;
 font-weight: 500;
}

.hobbies-card {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 grid-auto-rows: 1fr;
 gap: 1em;

 background: #4895ef;
}

.hobby-card {
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 border-radius: 11px;
}
.hobby-1 {
 background-image: url(img/gif/leo-coding-gif.gif);
}
.hobby-2 {
 background-image: url(img/gif/leo-multo-gif.gif);
}
.hobby-3 {
 background-image: url(img/webp/leo-photography.webp);
}
.hobby-4 {
 background-image: url(img/gif/leo-video-editing.gif);
}
.hobby-5 {
 background-image: url(img/gif/leo-content-creator-gif.gif);
}
.hobby-6 {
 background-image: url(img/gif/leo-playing-guitar-gif.gif);
}

.text-container {
 grid-column: span 4;
 grid-row: span 2;

 display: grid;
 grid-template-rows: 1fr auto;
}

.text-container ul {
 text-align: right;
 font-size: 2rem;
}
.text-container li:nth-child(even) {
 text-align: left;
}
.text-container li:nth-child(1) {
 color: #27187e;
 font-weight: 500;
}
.text-container li:nth-child(2) {
 color: #4e148c;
}
.text-container li:nth-child(3) {
 color: #963484;
 font-weight: 600;
}
.text-container li:nth-child(4) {
 color: #ffdd00;
}
.text-container li:nth-child(6) {
 color: #7d4600;
 font-weight: 800;
}

.music-bg {
 background-image: url(img/gif/the-notebook-gif.gif);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

 border: 25px solid #64dfdf;
}
