@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --body-bg-color: #e9ecef;
 --font-family: "Montserrat", sans-serif;
 --morning-img-bg: url(img/webp/house-morning.webp);
 --night-img-bg: url(img/webp/house-night-v2.webp);
 --img-filter: contrast(0.6) brightness(89%);

 /* header */
 --header-bg-color: #f3d5b5;
 --header-text-color: #6a381f;
 --header-shadow: #6e0d25;

 /* cards */
 /* 1 - hero card */
 --hero-card-bg-color: #dcab6b;
 --hero-card-text-color: #000000;
 --hero-card-h2-color: #d9ed92;
 --hero-card-animation-color2: #5c4033;
 --hero-card-animation-color3: #b58900;
 --img-display-group1: inline;
 --img-display-group2: none;

 /* 2 - featured-product card */
 --fd-product-bg-color: #9ba2ff;
 --fd-product-text-color: #000000;

 /* 3 - tech-stack card */
 --ts-bg-color: aliceblue;
 --ts-text-color: #000000;

 /* 4 - github-stats card */
 --gs-bg-color: #34a0a4;
 --gs-text-color: #000000;
 --gs-stats-box-color: white;
 --gs-stats-box-active-color: #9ef01a;
 --gs-stats-box-active-half-color: #9ef01aab;

 /* 5 - social-links card */
 --sl-bg-color: #e0aaff;
 --sl-text-color: #000000;

 /* footer */
 --footer-text-color: black;
 --footer-links-color: darkblue;
}

:root:has(.class-switch-theme:checked) {
 --body-bg-color: #524632;
 --img-filter: contrast(1) brightness(100%);

 /* header */
 --header-bg-color: #8ecae6;
 --header-shadow: #3a6ea5;

 /* cards */
 /* 1 - hero card */
 --hero-card-bg-color: #007ea7;
 --hero-card-text-color: #e3f2fd;
 --hero-card-h2-color: #9fffcb;
 --hero-card-animation-color2: #ffa57e;
 --hero-card-animation-color3: #ffbf01;
 --img-display-group1: none;
 --img-display-group2: inline;

 /* 2 - featured-product card */
 --fd-product-bg-color: #3c096c;
 --fd-product-text-color: #c8b6ff;

 /* 3 - tech-stack card */
 --ts-bg-color: #caf0f8;
 --ts-text-color: #133c55;

 /* 4 - github-stats card */
 --gs-bg-color: #52b788;
 --gs-text-color: #081c15;
 --gs-stats-box-color: #c7f9cc;
 --gs-stats-box-active-color: #ccff33;
 --gs-stats-box-active-half-color: #9ef01a;

 /* 5 - social-links card */
 --sl-bg-color: #c068f3;
 --sl-text-color: #27003d;

 /* footer */
 --footer-text-color: lightgray;
 --footer-links-color: lightblue;
}

body {
 min-height: 100vh;
 font-family: var(--font-family);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 3rem;
 background-color: var(--body-bg-color);
}

li {
 list-style: none;
}

a {
 text-decoration: none;
 color: black;
}
a:not(.github-link):hover {
 cursor: pointer;
 opacity: 0.7;
 text-decoration: underline;
}

header {
 padding: 2rem;
 width: 100vw;
}

.header-container {
 background-color: var(--header-bg-color);
 width: min(90%, 1262.4px);
 padding: 1em;
 border-radius: 15px;
 box-shadow: 5px 5px var(--header-shadow);
 margin: 0 auto;

 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-container h2 {
 color: var(--header-text-color);
}

.bento-logo-frame {
 display: grid;
 grid-auto-columns: 15px;
 grid-auto-rows: 15px;
 gap: 2px;
 grid-template-areas:
  "bento-logo-box1 bento-logo-box2 bento-logo-box2"
  "bento-logo-box1 bento-logo-box4 bento-logo-box5"
  "bento-logo-box3 bento-logo-box3 bento-logo-box6";
}

.bento-logo-box {
 border-radius: 5px;
 background-color: gray;
}

.bento-logo-box1 {
 background-color: #6a381f;
}
.bento-logo-box2 {
 background-color: #48392a;
}
.bento-logo-box3 {
 background-color: #972d07;
}
.bento-logo-box4 {
 background-color: #ffb20f;
}
.bento-logo-box5 {
 background-color: #656d4a;
}
.bento-logo-box6 {
 background-color: #9097c0;
}

.theme-toggle-wrapper {
 width: 206.733px;
 display: grid;
 justify-content: flex-end;
}

.theme-toggle-wrapper .switch-theme-btn {
 display: flex;
 justify-content: flex-end;
 height: 35px;
 width: 120px;
 border: 2px solid;
 border-radius: 15px;
 text-align: right;
 padding: 5px;
 background-color: #dcab6b;
 cursor: pointer;
 position: relative;

 overflow: hidden;
}

.switch-theme-btn .theme-indicator {
 position: absolute;
 z-index: 1;
 inset: 0;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.light-mode,
.dark-mode {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
}

.light-mode {
 color: #ffffb3;
}

.dark-mode {
 color: #ffffb3;
}

.switch-theme-btn .circle {
 display: block;
 width: 50%;
 height: 100%;
 background-color: #f5d7bd;
 border-radius: 13px;
 z-index: 1;
}

.class-switch-theme:checked ~ label {
 background-color: #6a381f;
 justify-content: flex-start;
}

.bg-image-wrapper {
 position: fixed;
 height: 40vw;
 background: var(--morning-img-bg);
 filter: var(--img-filter);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
 width: 100%;
 z-index: -1;
 top: 0;

 transition:
  filter 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}
.bg-image-wrapper::before {
 content: "";
 background: var(--night-img-bg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

 opacity: 0;
 transition: opacity 0.3s ease-in-out;
}
:root:has(.class-switch-theme:checked) .bg-image-wrapper::before {
 opacity: 1;
}

main {
 display: grid;
 grid-auto-columns: 300px;
 grid-auto-rows: 300px;
 gap: 1.3em;
 grid-template-areas:
  "box-1 box-1 box-3 box-3"
  "box-1 box-1 box-2 box-4"
  "box-5 quote box-6 box-6"
  "hobbies hobbies hobbies music";
}

.box {
 background-color: gray;
 padding: 1em;
 border-radius: 15px;
}

.hero-card {
 display: flex;

 position: relative;
 overflow: visible;
 background: var(--hero-card-bg-color);

 position: relative;
}

.border-glow-wrapper {
 inset: 0;
 position: absolute;
 border-radius: 15px;
 z-index: 1;
 overflow: hidden;

 display: flex;
 justify-content: center;
 align-items: center;
}

.border-glow-wrapper::before {
 content: "";
 position: absolute;
 width: 250%;
 height: 250%;

 background: conic-gradient(
  from 0deg,
  transparent 40%,
  #ffffb3,
  #d7f75b,
  transparent 50%
 );

 animation: rotateShine 3s ease-in-out infinite;
}

.border-glow-wrapper::after {
 content: "";
 position: absolute;
 inset: 0.3em;
 border-radius: 13px;
 background-color: var(--hero-card-bg-color);
}

@keyframes rotateShine {
 100% {
  transform: rotate(360deg);
 }
}

.hero-card aside {
 z-index: 1;
}

.hero-card .img-container {
 position: relative;
 width: 1300px;
}

.img-container img {
 position: absolute;
 max-width: 400px;
 bottom: -2.4%;
 right: -17%;
 z-index: 1;

 transition: opacity 0.3s ease-in-out;
 filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.2));
}

.img-container .img-group1 {
 display: var(--img-display-group1);
}
.img-container .img-group2 {
 display: var(--img-display-group2);
}

.img-smile {
 animation: phaseOne 8s infinite;
}
.img-thumb {
 animation: phaseTwo 8s infinite;
}
.img-peace {
 animation: phaseThree 8s infinite;
}

@keyframes phaseOne {
 0%,
 28% {
  opacity: 1;
 }
 33%,
 95% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

@keyframes phaseTwo {
 0%,
 28% {
  opacity: 0;
 }
 33%,
 61% {
  opacity: 1;
 }
 66%,
 100% {
  opacity: 0;
 }
}

@keyframes phaseThree {
 0%,
 61% {
  opacity: 0;
 }
 66%,
 95% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

.img-cry {
 opacity: 0;
}

.img-container:hover :is(.img-smile, .img-thumb, .img-peace) {
 display: none;
}
.img-container:hover .img-cry {
 opacity: 1;
}

.hero-info-side {
 display: flex;
 flex-direction: column;
 gap: 1em;

 color: var(--hero-card-text-color);
}

.hero-info-side p {
 font-size: 1.2rem;
 line-height: 1.3em;
}

.hero-info-side h2 {
 color: var(--hero-card-h2-color);
}

.hero-info-side .circle {
 display: inline-block;
 width: 23px;
 height: 23px;
 border-radius: 50%;
 background-color: var(--hero-card-h2-color);
}

.hero-introduction {
 flex-grow: 1;
 font-size: 6rem;
}

.typing-text {
 display: inline-block;
 overflow: hidden;
 white-space: nowrap;
 border-right: 0.1em solid currentColor;
 width: 0;
 vertical-align: bottom;

 animation: dynamic-typing 12s infinite;
}
@keyframes dynamic-typing {
 /* --- CYCLE 1: BLACK --- */
 0% {
  width: 0;
  color: var(--hero-card-text-color);
  animation-timing-function: steps(4, end);
 }
 10% {
  width: 4ch;
  color: var(--hero-card-text-color);
 } /* Typed out */
 23% {
  width: 4ch;
  color: var(--hero-card-text-color);
  animation-timing-function: steps(4, end);
 } /* Hold */
 33% {
  width: 0;
  color: var(--hero-card-text-color);
 } /* Deleted */

 /* --- CYCLE 2: DARK BROWN --- */
 34% {
  width: 0;
  color: var(--hero-card-animation-color2);
  animation-timing-function: steps(4, end);
 } /* Switch color instantly */
 44% {
  width: 4ch;
  color: var(--hero-card-animation-color2);
 } /* Typed out */
 57% {
  width: 4ch;
  color: var(--hero-card-animation-color2);
  animation-timing-function: steps(4, end);
 } /* Hold */
 67% {
  width: 0;
  color: var(--hero-card-animation-color2);
 } /* Deleted */

 /* --- CYCLE 3: DARK YELLOW --- */
 68% {
  width: 0;
  color: var(--hero-card-animation-color3);
  animation-timing-function: steps(4, end);
 } /* Switch color instantly */
 78% {
  width: 4ch;
  color: var(--hero-card-animation-color3);
 } /* Typed out */
 90% {
  width: 4ch;
  color: var(--hero-card-animation-color3);
  animation-timing-function: steps(4, end);
 } /* Hold */
 100% {
  width: 0;
  color: var(--hero-card-animation-color3);
 } /* Deleted */
}

.featured-project-card {
 display: grid;
 grid-template-rows: auto auto 1fr auto auto;
 gap: 0.5em;

 background-color: var(--fd-product-bg-color);
 color: var(--fd-product-text-color);
}

.featured-project-card h1 {
 font-size: 2.5rem;
}

.moveon-preview {
 background-image: url(img/webp/moveon-preview3.webp);
 background-position: center;
 background-size: cover;
 border-radius: 13px;
}

.featured-project-card a {
 text-align: right;
 color: var(--fd-product-text-color);
}

.tech-stack-card {
 position: relative;
 background-color: var(--ts-bg-color);
 color: var(--ts-text-color);
}

.tech-stack-card h2 {
 margin-bottom: 0.5em;
}

.tech-stack-card ul {
 line-height: 1.6em;
}

.tech-stack-card img {
 position: absolute;
}

.html-logo {
 left: 10%;
 bottom: 15%;
 width: 45px;
 transform: rotate(10deg);
}
.css-logo {
 width: 55px;
 left: 28%;
 bottom: 20%;
 transform: rotate(-10deg);
}
.js-logo {
 width: 55px;
 left: 48%;
 bottom: 10%;
 transform: rotate(15deg);
}
.php-logo {
 width: 85px;
 left: 48%;
 top: 40%;
 transform: rotate(-15deg);
}
.mysql-logo {
 width: 65px;
 right: 10%;
}
.git-logo {
 width: 55px;
 bottom: 8%;
 right: 8%;
}
.github-logo {
 width: 40px;
 right: 8%;
 top: 35%;
}

.github-stats-card {
 display: grid;
 grid-template-rows: auto auto 1fr auto;
 gap: 0.5em;
 overflow: auto;
 background: var(--gs-bg-color);
 color: var(--gs-text-color);
}

.stats-container {
 display: grid;
 grid-template-columns: repeat(5, 45px);
 grid-template-rows: repeat(2, 45px);
 grid-auto-rows: 45px;
 gap: 10px;
}

.stats-container span {
 display: block;
}

.stats-box {
 background-color: var(--gs-stats-box-color);
 border-radius: 10px;
}

.stats-box.a {
 background-color: var(--gs-stats-box-active-color);
}

.stats-box.a-half {
 background-color: var(--gs-stats-box-active-half-color);
}

.social-links-card {
 display: grid;
 grid-template-rows: auto 1fr auto;
 position: relative;
 overflow: hidden;

 background: var(--sl-bg-color);
 color: var(--sl-text-color);
}

.social-links-card h2 {
 margin-bottom: 0.5em;
}

.social-links-card ul {
 line-height: 2.2em;
 font-size: 1.4rem;
 font-weight: 500;
}
.social-links-card a {
 color: var(--sl-text-color);
}

.social-links-card i {
 font-size: 2.3rem;
 vertical-align: middle;
}

.social-links-card .link-logo {
 position: absolute;
 right: -30px;
 bottom: -30px;
}

.social-links-card .github-link-title:hover {
 text-decoration: underline;
 opacity: 0.7;
}

.quote {
 padding: 0;
 overflow: hidden;
}

.quote img {
 width: 100%;
 height: 100%;
}

.currently-card {
 display: grid;
 grid-template-rows: 1fr auto;
 background: radial-gradient(
  ellipse at top right,
  rgba(255, 255, 255, 0.807),
  #dbb42c 60%
 );
}
.currently-card ul {
 font-size: 2.4rem;
 text-align: right;
 line-height: 1.4em;
 letter-spacing: 0.4em;
 font-weight: 500;
}

.hobbies-card {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 grid-auto-rows: 1fr;
 gap: 1em;

 background: #4895ef;
}

.hobby-card {
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 border-radius: 11px;
}
.hobby-1 {
 background-image: url(img/gif/leo-coding-gif.gif);
}
.hobby-2 {
 background-image: url(img/gif/leo-multo-gif.gif);
}
.hobby-3 {
 background-image: url(img/webp/leo-photography.webp);
}
.hobby-4 {
 background-image: url(img/gif/leo-video-editing.gif);
}
.hobby-5 {
 background-image: url(img/gif/leo-content-creator-gif.gif);
}
.hobby-6 {
 background-image: url(img/gif/leo-playing-guitar-gif.gif);
}

.text-container {
 grid-column: span 4;
 grid-row: span 2;

 display: grid;
 grid-template-rows: 1fr auto;
}

.text-container ul {
 text-align: right;
 font-size: 2rem;
}
.text-container li:nth-child(even) {
 text-align: left;
}
.text-container li:nth-child(1) {
 color: #27187e;
 font-weight: 700;
 letter-spacing: 0.1em;
}
.text-container li:nth-child(2) {
 color: #4e148c;
}
.text-container li:nth-child(3) {
 color: #963484;
 font-weight: 600;
}
.text-container li:nth-child(4) {
 color: #ffdd00;
}
.text-container li:nth-child(5) {
 color: #ccff33;
 letter-spacing: 0.2em;
}
.text-container li:nth-child(6) {
 color: #7d4600;
 font-weight: 800;
}

.music-bg {
 background-image: url(img/gif/the-notebook-gif.gif);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

 border: 25px solid #dda15e;
}

footer {
 width: 100%;
 padding: 2rem;
 line-height: 1.5em;
 text-align: center;
 color: var(--footer-text-color);
}
footer a {
 color: var(--footer-links-color);
 text-decoration: underline;
}

/* cards-animation */

@property --slide-x-right {
 syntax: "<length>";
 inherits: false;
 initial-value: -50px;
}

@property --slide-x-left {
 syntax: "<length>";
 inherits: false;
 initial-value: 50px;
}

@keyframes slideDown {
 from {
  opacity: 0;
  transform: translateY(-50px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}

@keyframes slideLeft {
 from {
  opacity: 0;
  --slide-x-left: 50px;
 }
 to {
  opacity: 1;
  --slide-x-left: 0px;
 }
}

@keyframes slideRight {
 from {
  opacity: 0;
  --slide-x-right: -50px;
 }
 to {
  opacity: 1;
  --slide-x-right: 0px;
 }
}

@keyframes flipCard {
 from {
  opacity: 0;
  transform: rotateY(-360deg);
 }
 to {
  opacity: 1;
  transform: rotateY(0deg);
 }
}

@keyframes slideUp {
 from {
  opacity: 0;
  transform: translateY(50px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}

.header-container {
 opacity: 0;
 animation: slideDown 1s ease-out forwards;
}

.hero-card {
 opacity: 0;

 transform: translateX(var(--slide-x-right)) rotateY(0deg) rotateX(0deg);
 transition: transform 0.5s ease-in-out;

 animation: slideRight 1s ease-out forwards;
 animation-delay: 0.5s;
}
.hero-card:hover {
 transform: translateX(var(--slide-x-right)) rotateY(10deg) rotateX(5deg);
}

.featured-project-card {
 opacity: 0;

 transform: translateX(var(--slide-x-left));
 transition: transform 0.5s ease-in-out;

 animation: slideLeft 1s ease forwards;
 animation-delay: 1s;
}
.featured-project-card:hover {
 transform: translateX(var(--slide-x-left)) rotateY(-10deg) rotateX(3deg);
}

.tech-stack-card {
 opacity: 0;
 animation: flipCard 1s ease forwards;
 animation-delay: 1.5s;
}

.github-stats-card {
 opacity: 0;
 transform: translateX(var(--slide-x-left));
 animation: slideLeft 1s ease forwards;
 animation-delay: 2s;
}

.social-links-card {
 opacity: 0;
 animation: flipCard 1s ease forwards;
 animation-delay: 2.5s;
}

.quote {
 opacity: 0;
 transform: translateX(var(--slide-x-left));
 animation: slideLeft 1s ease forwards;
 animation-delay: 3s;
}

.currently-card {
 opacity: 0;
 transform: translateX(var(--slide-x-left));
 animation: slideLeft 1s ease forwards;
 animation-delay: 3.5s;
}

.hobbies-card {
 opacity: 0;
 animation: slideUp 1s ease forwards 4s;
}

.music-bg {
 opacity: 0;
 animation: flipCard 1s ease forwards 4.5s;
}

/* media queries */

@media (width < 1340px) {
 main {
  width: min(85%, 1262.4px);

  grid-template-columns: 1fr;
  grid-template-areas:
   "box-1 box-1 box-1"
   "box-3 box-3 box-2"
   "box-4 box-5 quote"
   "box-6 box-6 music"
   "hobbies hobbies hobbies";
 }

 .img-container,
 .hero-info-side {
  flex: 1;
 }
 .hero-info-side {
  flex: 4;
 }

 .border-glow-wrapper::before {
  width: 1000px;
  height: 300%;
 }

 .img-container img {
  width: 250px;
  right: -5%;
  bottom: -5%;
 }

 .stats-container {
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
 }
}

@media (width < 1153px) {
 .hero-info-side h2 {
  font-size: 1.3em;
 }
 .hero-info-side .circle {
  width: 18px;
  height: 18px;
 }
 .hero-info-side h1 {
  font-size: 5rem;
 }
}

@media (width < 1135px) {
 main {
  grid-template-areas:
   "box-1 box-1"
   "box-3 box-3"
   "box-2 box-4 "
   "box-6 box-6"
   "box-5 music"
   "quote quote"
   "hobbies hobbies";
 }

 .img-container {
  flex: 2;
 }

 .hero-info-side h2 {
  font-size: 1.2em;
 }
 .hero-info-side p {
  font-size: 0.9rem;
 }
 .hero-info-side .circle {
  width: 14px;
  height: 14px;
 }
 .hero-info-side h1 {
  font-size: 4rem;
 }

 .text-container ul {
  font-size: 1.5rem;
 }
}

@media (width < 768px) {
 .img-container {
  flex: 3;
 }

 .hero-info-side h2 {
  font-size: 1.2em;
 }
 .hero-info-side p {
  font-size: 0.8rem;
 }
 .hero-info-side .circle {
  width: 14px;
  height: 14px;
 }
 .hero-info-side h1 {
  font-size: 4rem;
 }

 .text-container {
  grid-row: span 3;
 }

 .text-container ul {
  font-size: 1.2rem;
 }

 .hobby-2 {
  grid-column: span 2;
 }
 .hobby-3 {
  grid-column: span 2;
 }
 .hobby-6 {
  grid-column: span 2;
 }

 .tech-stack-card ul {
  font-size: 0.8rem;
 }

 .tech-stack-card img {
  width: 44px;
 }

 .currently-card ul {
  font-size: 2rem;
 }

 .social-links-card ul {
  font-size: 1.2rem;
 }
}

@media (width < 640px) {
 main {
  grid-template-areas:
   "box-1   box-1  "
   "box-3   box-3  "
   "box-2   box-2  "
   "box-4   box-4  "
   "box-6   box-6  "
   "music   music  "
   "box-5   box-5  "
   "quote   quote  "
   "hobbies hobbies";
 }

 .img-container img {
  width: 190px;
 }

 .header-container {
  flex-wrap: wrap;
  gap: 1em;
 }
 .theme-toggle-wrapper {
  flex: 1;
  /* justify-content: flex-start; */
 }

 .hero-info-side h2 {
  font-size: 0.8rem;
 }
 .hero-info-side h1 {
  font-size: 3rem;
 }
 .hero-info-side p {
  font-size: 0.5rem;
 }

 .img-container {
  flex: 4.6;
 }
}

@media (width <= 512px) {
 .hero-info-side h2 {
  font-size: 0.5rem;
 }
 .hero-info-side .circle {
  width: 8px;
  height: 8px;
 }
 .hero-info-side h1 {
  font-size: 2rem;
 }

 .featured-project-card h2 {
  font-size: 1rem;
 }
 .featured-project-card h1 {
  font-size: 1.7rem;
 }
 .featured-project-card p {
  font-size: 0.7rem;
 }

 .currently-card h2 {
  font-size: 1rem;
 }
 .currently-card ul {
  font-size: 1.6rem;
 }

 .text-container ul {
  font-size: 0.9rem;
 }
}
